body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #f0f2f5;
}

.sidebar {
    width: 230px;
    background: #002B5B;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #014F86;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li:hover {
    background: #0275d8;
}

.logout {
    margin-top: 50px;
    background: #d9534f !important;
}

.contenido {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
}

.seccion {
    display: none;
}

.visible {
    display: block;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #014F86;
    color: white;
}